<ion-view view-title="Adoções" >
  <ion-content >
    <div class="bar bar-subheader item-input-inset" >
      <label class="item-input-wrapper" style="border-radius: 17px">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar...">
      </label>
    </div>

    <div style="margin-top: 45px;">
      <ion-item ng-repeat="adocao in adocoes">
        <div class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
          <img ng-src="{{adocao.adotante.urlImagem}}">
          <h2>Adotante: {{adocao.adotante.nome}}</h2>
          <p>Animal: {{adocao.animal.nome}} ({{adocao.animal.tpAnimal}})</p>
          <p>Endereço: {{adocao.adotante.cidade}}, {{adocao.adotante.logradouro}}, {{adocao.adotante.numero}}, {{adocao.adotante.bairro}}</p>
          <p>Última visita: {{adocao.adotante.dtUltAcomp | date:'dd/MM/yyyy'}} </p>
        </div>
        <br/>

        <visita-ocorrencia qt-ocorrencias="{{adocao.ocorrencias.length}}"
                           qt-visitas="{{adocao.visitas.length}}"
                           qt-devolucoes={{adocao.devolucoes.length}}
                           id-adocao={{adocao.id}}
                           efetuacomentario="sim">

        </visita-ocorrencia>
      </ion-item>
    </div>
   

  </ion-content>
</ion-view>
