<ion-view view-title="Adotantes">
  <ion-floating-button click="goAdotante()" has-footer="true" button-color="#ffff40" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <div class="list" ng-repeat="adotante in adotantes">
      <div class="item item-avatar" ng-click="goAdotante(adotante.id)">
        <img ng-src="{{adotante.urlImagem}}"/>

        <h2>Adotante: {{adotante.nome}}</h2>
        <p ng-if="adotante.nomeAnimal">Animal: {{adotante.nomeAnimal}} ({{adotante.tpAnimal}})</p>
      </div>

      <div class="item item-body" style="border-bottom: none;">
        <img class="full-image" ng-src="{{adotante.urlImagem}}" />
        <p>Último acompanhamento: {{adotante.dtUltAcomp | date:'dd/MM/yyyy'}}
          </br>
          Adoção: {{adotante.dtAdocao | date:'dd/MM/yyyy'}}
        </p>
        <visita-ocorrencia qt-ocorrencias={{adotante.ocorrencias.length}}
                           qt-visitas={{adotante.visitas.length}}
                           qt-devolucoes={{adotante.devolucoes.length}}
                           id-adotante={{adotante.id}}>

        </visita-ocorrencia>
      </div>
    </div>
  </ion-content>

</ion-view>
