<ion-view view-title="Adotante">
  <ion-content>

    <div class="item item-avatar" ng-if="adotante.id">
      <img  ng-src="{{adotante.urlImagem}}" >
      <h2>Adotante: {{adotante.nome}} </h2>
      <p ng-if="adotante.nomeAnimal">Animal: {{adotante.nomeAnimal}} ({{adotante.tpAnimal}})</p>
    </div>


    <div class="item item-body">
      <img class="full-image" ng-src="{{adotante.urlImagem}}" ng-click="getCamera()">
      <visita-ocorrencia qt-ocorrencias="{{adotante.ocorrencias.length}}"
                         qt-visitas="{{adotante.visitas.length}}"
                         id-adotante={{adotante.id}}
                         ng-if="adotante.id" >

      </visita-ocorrencia>
      </br>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Nome" ng-model="adotante.nome">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="CPF" ng-model="adotante.cpf">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="RG" ng-model="adotante.rg">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="CEP" ng-model="adotante.cep">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Logradouro">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Nº" ng-model="adotante.numero">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Bairro" ng-model="adotante.bairro">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Cidade" ng-model="adotante.cidade">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Telefone 1" ng-model="adotante.tel1">
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Telefone 2" ng-model="adotante.tel2">
          </label>
        </div>
        Sexo
        <ion-list>
          <ion-radio name="sexo" ng-model="adotante.sexo" ng-value="'Masculino'">Masculino</ion-radio>
          <ion-radio name="sexo" ng-model="adotante.sexo" ng-value="'Feminino'">Feminino</ion-radio>
        </ion-list>
      </div>
      <button class="button button-block button-balanced" ng-click="salvar()">
        Salvar
      </button>
    </div>
  </ion-content>
</ion-view>
