<ion-view view-title="Animais">
  <ion-floating-button click="goAnimal()" has-footer="true" button-color="#ffff40" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <div class="list" ng-repeat="animal in animais" >
      <div class="item item-avatar" ng-click="goAnimal(animal.id)">
        <img ng-src="{{animal.urlImagem}}"/>
        <h2>Animal: {{animal.nome}} ({{animal.tpAnimal}})</h2>
        <p ng-if="animal.nomeAdotante">Adotante: {{animal.nomeAdotante}} </p>
      </div>

      <div class="item item-body" style="border-bottom: none;">
        <img class="full-image" ng-src="{{animal.urlImagem}}"/>
        <p>Último acompanhamento: {{animal.dtUltAcomp | date:'dd/MM/yyyy'}}</p>
        <p>Data de adoção: {{animal.dtAdocao | date:'dd/MM/yyyy'}} </p>
        <visita-ocorrencia qt-ocorrencias={{animal.ocorrencias.length}}
                           qt-visitas={{animal.visitas.length}}
                           qt-devolucoes={{animal.devolucoes.length}}
                           id-animal={{animal.id}}>

        </visita-ocorrencia>
      </div>
    </div>
  </ion-content>
</ion-view>

