<ion-content class="login_page padding">
  <div class="logo">
    <img src="img/logo2.png" class="animated zoomInDown"/>
  </div>
  <h3>Login</h3>
  <form name="form">
    <div class="list list-inset">
      <label class="item item-input">
        <img class="icon placeholder-icon" src="img/man.png"/>
        <input type="text" placeholder="Usuário" ng-model="usuario.usuario" required>
      </label>
       <label class="item item-input">
        <img class="icon placeholder-icon" src="img/lock.png"/>
        <input type="password" placeholder="---------------" ng-model="usuario.senha" required>
      </label>
   </div>
    {{erro}}
    <button class="button button-block button-positive log_btn  animated rubberBand" ng-click="autenticar()"  ng-disabled="!form.$valid">
      Login
    </button>

  </form>
</ion-content>

