<ion-content class="login_page padding">
  <div class="logo">
    <img src="img/logo2.png" class="animated zoomInDown"/>
  </div>
  <h3>Login</h3>
  <form>
    <div class="list list-inset">
      <label class="item item-input">
        <img class="icon placeholder-icon" src="img/man.png"/>
        <input type="text" placeholder="Usuário">
      </label>
       <label class="item item-input">
        <img class="icon placeholder-icon" src="img/lock.png"/>
        <input type="password" placeholder="---------------">
      </label>
   </div>
    <button class="button button-block button-positive log_btn  animated rubberBand" ng-click="goAcompanhamentos()">
      Login
    </button>
<!--    <a href="#/register" class="button button-block button-positive reg_btn animated rubberBand">
      Register
    </a>
    <div class="row skip_div">
    <div class="col">
    <button class="button button-block button-positive for_btn animated rubberBand" ng-click="forget_password()">
      Forget Password
    </button>-->
    
  </form>
</ion-content>

