<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-energized tabs-color-active-light" >

  <ion-tab title="Adoções" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/acompanhamentos" >
    <ion-nav-view name="tab-acompanhamentos" ></ion-nav-view>
  </ion-tab>

  <ion-tab title="Adotantes" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/adotantes">
    <ion-nav-view name="tab-adotantes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Animais" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/animais">
    <ion-nav-view name="tab-animais"></ion-nav-view>
  </ion-tab>

</ion-tabs>
