<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-stable tabs-color-dark tabs-color-active-dark" >

  <ion-tab title="Localizações" icon-off="ion-ios7-world-outline" icon-on="ion-ios7-world" href="#/tab/localizacao" >
    <ion-nav-view name="tab-loc" ></ion-nav-view>
  </ion-tab>

  <ion-tab title="Adoções" icon-off="ion-ios7-settings" icon-on="ion-ios7-settings-strong" href="#/tab/acompanhamentos" >
    <ion-nav-view name="tab-acompanhamentos" ></ion-nav-view>
  </ion-tab>

  <ion-tab title="Adotantes" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/adotantes">
    <ion-nav-view name="tab-adotantes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Animais" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/animais">
    <ion-nav-view name="tab-animais"></ion-nav-view>
  </ion-tab>

</ion-tabs>
